<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="accordion">
    <ul class="list-group" [attr.id]="'accordion_' + name" *ngFor="let name of names">
        <li class="root collapsed p-2 tree-root" (click)="rootClick(name)" data-toggle="collapse" [attr.href]="'#collapse_'+name" [attr.aria-expanded]="false">
            <em class="fa fa-chevron-right"></em>
            <em class="fa fa-chevron-down"></em> Collapsible Group Item {{name}}
        </li>
        <div [attr.id]="'collapse_'+name" class="collapse" data-parent="#accordion">
            <ul *ngFor="let leaf of leafs">
                <div *ngIf="itemClicked === leaf ; else notClicked">
                    <li class="leaf-clicked hover p-2">{{leaf}}</li>
                </div>
                <ng-template #notClicked>
                    <li class="leaf hover p-2" (click)="leafClick(leaf)">{{leaf}}</li>
                </ng-template>
            </ul>

        </div>
    </ul>
</div>