@media screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    div.example {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    div.example {
        font-size: 10px;
    }
}

li[aria-expanded=true] .fa-chevron-right {
    display: none;
}

li[aria-expanded=false] .fa-chevron-down {
    display: none;
}

li.selected {
    color: green;
}

li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0px;
}

.show {
    height: auto !important;
    max-height: 150px;
    overflow: auto;
    animation: .3s
}